.App {
  text-align: center;
  background-image: linear-gradient(180deg, #91f1b1 0, #baffdc 16.67%, #abffda 33.33%, #9df2d5 50%, #92e3cf 66.67%, #89d5c9 83.33%, #83c9c4 100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.my-title{
  color: rgb(0, 0, 0);
  font-size: 1cm;
}
.app-temp{

  color: rgb(0, 0, 0);
  font-size: 1cm;
  background-attachment: fixed;
  
}
.Cronometro{
  
}

.relogio{
 
 
}
.App-header {
  background-color: #30788570;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(133, 70, 70);
}

.App-link {
  color: #3db1d1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
