body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(180deg, #ceebaf 0, #c5ecb4 8.33%, #bdeeba 16.67%, #b5efc0 25%, #acf0c7 33.33%, #a4f1ce 41.67%, #9df2d5 50%, #96f2dc 58.33%, #90f3e4 66.67%, #8bf3ec 75%, #87f3f3 83.33%, #84f2fa 91.67%, #84f2ff 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
